<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.shababin">

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"
        android:theme="@style/Theme.Design.NoActionBar">
        <activity
            android:name=".MainActivity10_AdminAddItem2"
            android:exported="false" />
        <activity
            android:name=".MainActivity18_UserPayForOrder"
            android:exported="false" />
        <activity
            android:name=".MainActivity17_UserSendOrder"
            android:exported="false" />
        <activity
            android:name=".MainActivity16_UserCartContent"
            android:exported="false" />
        <activity
            android:name=".MainActivity15_ItemInfo"
            android:exported="false" />
        <activity
            android:name=".MainActivity14_UserItemList"
            android:exported="false" />
        <activity
            android:name=".MainActivity13_UserCategoryList"
            android:exported="false" />
        <activity
            android:name=".MainActivity9_AdminAddItem"
            android:exported="false" />
        <activity
            android:name=".MainActivity7_AdminManageOrders"
            android:exported="false" />
        <activity
            android:name=".MainActivity6_AdminMangeItem"
            android:exported="false" />
        <activity
            android:name=".MainActivity4_AdminMainPage"
            android:exported="false" />
        <activity
            android:name=".MainActivity3_CreateAccount"
            android:exported="false" />
        <activity
            android:name=".MainActivity2_Login"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>